div {
    display: block;
}

.container{
    margin: 0 auto;
    max-width: 960px;
}

header {
    height: 64px;
    position: fixed;
    z-index: 10;
}

.navbar {
    background-color: #fff;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
}
nav {
    text-align: right;
}

#logo-img {

}

#label1 {

}

#label2 {

}

#label3 {

}

footer {

}

.copyright {

}

.main {
    width: 60%;
}

.sub {
    width: 40%;
}

#section1 {

}

#section2 {

}

#section3 {

}

#section4 {

}
