html {
    font-size: 16px;
}

body {
    margin: 0;
    line-height: 1.4rem;
    font-family: 'Helvetica', sans-serif;
    background-color: #f3f5f5;
    color: #4a4a4a;
}

div {
    display: block;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 4rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
}

h4 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.navbar {
    height: 4rem;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.logo img {
    vertical-align: middle;
    height: 2rem;
    margin-left: 1.5rem;
}

nav {
    text-align: right;
    margin-right: 1.5rem;
}

nav a {
    margin-left: 1rem;
}

nav span {
    display: inline-block;
    color: #4a4a4a;
}

.container {
    margin: 0 auto;
}

.content {
    padding-top: 4rem;
}

.main {
    width: 60%;
}

.main-section {
    margin: 0 1.5rem;
}

.quote {
    font-size: 0.75rem;
    margin-top: 2rem;
}

.sub {
    width: 40%;
    height: auto;
}

.sub-section {
    margin: 1rem 1rem 0;
}

.img-container {
    overflow: hidden;
}

.main .img-container {
}

.img-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-container video {
    display: block;
    max-width: 100%;
}

.section-header {
    width: 100%;
    margin-bottom: 2rem;
}

.info-header {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.sub-section p {
    margin-top: 1.5rem;
}

.banner {
    display: flex;
    align-items: center;
}

.banner-txt {
}

#banner-subheader {
    margin: 2.5rem 0;
}

.sub-banner {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.sub-banner-img {
    width: 35%;
    margin-right: 1rem;
}

.sub-banner-img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sub-banner-txt {
    width: 65%;
}

.sub-banner-txt p {
    margin-top: 0.5rem;
}

.sub-banner-txt a {
    text-decoration: none;
    color: #039BE5;
}

.sections {
    padding: 2rem 0;
}

.grey {
    background-color: #eaebec;
}

#btn {
    text-align: center;
    width: 70%;
    padding: 0.5rem 2rem;
    background-color: #4a4a4a;
    color: #fff;
}

.thesis-sub-header {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.horizontal {
    display: flex;
    flex-flow: row;
}

.vertical {
    display: flex;
    flex-flow: column;
}

.footer-nav {
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.copyright {
    margin-left: 1.5rem;
    align-items: center;
    display: flex;
    flex-grow: 1;
}
